<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head'); -%>
</head>

<body>
    <%- include('includes/header'); -%>

    <%- include('includes/nav'); -%>

    <main class="homepage">
        <h1>Welcome <%= name %>, to Match-A-Pet</h1>
        <p id="homep">In Match-A-Pet you will be looking a perfect match! All kinds of animals are waiting
            for you to adopt them, so go to discover and like or dislike after reading their profiles. Good Luck!
        </p>

        <img id="homepic" src="images/homepic.png" alt="">

        <button id="homemessage">Check your profile!</button>
        <button type="button" onclick="location.href='/logout'">Log Out</button>
    </main>

    <script src="js/homescript.js"></script>
</body>

</html>